<body>
  <div class="form-container">
    <h1>Agregar Restaurante</h1>
    <form (ngSubmit)="onSubmit()" #restaurantForm="ngForm">
      <input id="name" placeholder="Nombre del restaurante" [(ngModel)]="restaurant.name" type="text" pInputText class="input-field">

      <input id="description" placeholder="Descripción" [(ngModel)]="restaurant.description" type="text" pInputText class="input-field">

      <input id="image" placeholder="Imagen (URL)" [(ngModel)]="restaurant.image" type="text" pInputText class="input-field">

      <input id="bookingLink" placeholder="Link al restaurante" [(ngModel)]="restaurant.bookingLink" type="text" pInputText class="input-field">

      <div style="align-items: center; align-content: center; text-align: center; margin-top: 40px;">
        <button mat-stroked-button  class="boton" style="color:white;" type="submit">Guardar</button>
        <button mat-stroked-button (click)="onCancel()" class="boton" style="color:white;">Cancelar</button>
      </div>
    </form>
  </div>
</body>

