h1 {
  margin: 16px;
  font-size: 30px;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}


.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px 100px 20px 100px;
  margin: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}


.input-field {
  width: 90%;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;
  transition: all 0.3s ease;
}
.input-field:focus {
  border-color: #007BFF;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
.input-field::placeholder {
  color: #888;
  font-style: italic;
}
.input-field.ng-touched.ng-invalid {
  border-color: #dc3545;
  background-color: #f8d7da;
}
.input-field + .input-field {
  margin-top: 10px;
}

.boton {
  background-color: #e82574;
  border-radius: 5px;
  color: white;
  padding: 5px 10px 5px 10px;
  font-size: 1.14rem;
  margin-right: 05px;
}

.boton:hover {
  background-color: #a11950;
}
