<body>
<div class="form-container">
  <h1>Agregar Tour</h1>

  <form (ngSubmit)="onSubmit()" #tourForm="ngForm">

    <input id="titleTour" placeholder="Título" [(ngModel)]="tour.titleTour" type="text" pInputText class="input-field" required>

    <input id="imageTour" placeholder="Imagen (URL)" [(ngModel)]="tour.imageTour" type="text" pInputText class="input-field" required>

    <input id="instructor" placeholder="Instructor" [(ngModel)]="tour.instructor" type="text" pInputText class="input-field" required>

    <input id="rating" placeholder="Rating" [(ngModel)]="tour.rating" type="number" pInputText class="input-field" required>

    <input id="numberOfRatings" placeholder="Número de ratings" [(ngModel)]="tour.numberOfRatings" type="number" pInputText class="input-field" required>

    <input id="minPrice" placeholder="Precio mínimo" [(ngModel)]="tour.minPrice" type="number" pInputText class="input-field" required>

    <input id="currentPeople" placeholder="Cantidad de personas" [(ngModel)]="tour.currentPeople" type="number" pInputText class="input-field" required>

    <input id="maxPeople" placeholder="Máximo de personas" [(ngModel)]="tour.maxPeople" type="number" pInputText class="input-field" required>

    <input id="language" placeholder="Idiomas" [(ngModel)]="tour.language" type="text" pInputText class="input-field" required>

    <input id="duration" placeholder="Duración en horas" [(ngModel)]="tour.duration" type="number" pInputText class="input-field" required>

    <input id="itemsIncluded" placeholder="Items incluidos" [(ngModel)]="tour.itemsIncluded" type="text" pInputText class="input-field" required>

    <input id="date" placeholder="Fecha" [(ngModel)]="tour.date" type="date" pInputText class="input-field" required>

    <input id="description" placeholder="Descripción" [(ngModel)]="tour.description" type="text" pInputText class="input-field" required>

    <input id="times" placeholder="Horarios" [(ngModel)]="tour.times" type="text" pInputText class="input-field" required>

    <input id="hours" placeholder="Horas" [(ngModel)]="tour.hours" type="text" pInputText class="input-field" required>

    <input id="titleRestaurant" placeholder="Restaurantes" [(ngModel)]="tour.titleRestaurant" type="text" pInputText class="input-field" required>

    <div style="align-items: center; align-content: center; text-align: center; margin-top: 40px;">
      <button mat-stroked-button class="boton" style="color:white;" type="submit">Guardar</button>
      <button mat-stroked-button (click)="onCancel()" class="boton" style="color:white;">Cancelar</button>
    </div>
  </form>
</div>
</body>
