.mat-spacer {
  flex: 1 1 auto;
}

.title-container {
  color: white;
  text-align: center;
}

.title-container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 30px 0;
}


.card-restaurant {
  background-color: #545454;
  text-align: center;
  width: 500%;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
}

.contenedor-principal {
  display: flex;
  width: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 31%;
  box-sizing: border-box;;
}
.imgcenter{
  border-radius: 02%;
  width: 100%;
}
.title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.info-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin: 0;
  padding-bottom: 10px;
}

.tc{
h1{
  font-size: 45px;
  font-weight: initial;
}
h2{
  font-size: 20px;
}
background-color: #545454;
color:white;
text-align: center;
border-radius: 02%;

}
.botones{
  display:flex;
  justify-content: center;
  align-items: center;
img{
  margin-left:20px;
}
}

.back{
  display: flex;
  margin-left:20px;
  margin-top: 30px;
button{
  height:70px;
  width:150px;
  background-color:#E82574;
  font-size:40px;
  color:white;
}
img{
  margin-left:1580px;
}
}

.floating-button {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  z-index: 1000; 
}

.floating-button button {
  border-radius: 50%; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.floating-button button:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
}

footer {
  position: fixed;
  left: 30px;
  bottom: 30px;
}
.boton {
  background-color: #e82574;
  border-radius: 5px;
  color: white;
  padding: 5px 10px 5px 10px;
  font-size: 1.14rem;
  margin-right: 05px;
}
.boton:hover {
  background-color: #a11950;
}

